<main>
  <div class="education">

    <div class="title-h2">
      <h2>Education</h2>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Master Architecture & Big Data
            <span class="badge badge-primary">En cours</span> <!-- badge En cours -->
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>2020-2023 - Formation en alternance</p>
            <p><b>Ecole :</b> IPSSI - Paris</p>
            <p><b>Employeur :</b> AfterData</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Master Marketing & Communication
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p>2015-2017 - Formation en alternance</p>
            <p><b>Ecole :</b> EFFICOM - Campus Sciences-U Esupcom Paris</p>
            <p><b>Employeur :</b> Société Générale</p>
            <p><b>Mémoire de fin d'études :</b> Le rôle de l'innovation dans la soutenabilité du développement humain : « L'innovation peut-elle permettre la mise en place d'un nouveau modèle de développement ? » <i>Après l'économie linéaire, place à une économie circulaire</i>.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              DEUG Lettres Modernes
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p>2012 - Formation universitaire</p>
            <p><b>Université :</b> La Sorbonne - Paris IV</p>

            <p><b>Compétences :</b> Analyse de textes, Rédaction, Expression orale, Communication, Anglais</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
