.footer-style {
  background-color: var(--third);
}

.social {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fab {
  color: #ffffff;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.fab:hover {
  color: var(--fourth);
}

.copyright {
  color: var(--text-third);
  font-family: "Varela Round";
  font-size: 0.7rem;
  font-weight: lighter;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
