#collapsibleNavbar {
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.navbar {
  border-bottom: #dddddd solid 0.06rem;
}

.nav-link {
  font-family: "Varela Round";
  font-size: 0.9rem;
}

.nav-link:hover {
  background-color: var(--secondary);
}
