.jumbotron {
  text-align: center;
  color: var(--text-primary);
  background-color: #ffffff;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: #dddddd solid 0.06rem;
}

a {
  text-decoration: none;
}
