<main>

  <!-- news bloc -->

  <div class="news-bloc">
    <div class="card-group">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Informations rapides</div>
        <div class="card-body">
          <p class="card-text">En formation (2020-2023)</p>
          <p class="card-text">"Architecture & Big Data"</p>
          <p class="card-text">Paris, France</p>
          <a class="link" title="Contact" routerLink="/contact" routerLinkActive="active">Contactez-moi</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">News</div>
        <div class="card-body">
          <p class="card-text">Développeuse Full Stack</p>
          <p>(alternance) chez AfterData</p>
          <p>Angular / Java</p>
          <a class="link" title="Experience" routerLink="/experience" routerLinkActive="active">Mes expériences</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Compétences</div>
        <div class="card-body">
          <p class="card-text">Angular</p>
          <p>Java</p>
          <p>Git</p>
          <a class="link" title="Skills" routerLink="/skills" routerLinkActive="active">Plus de compétences</a>
        </div>
      </div>
    </div>
  </div>

</main>
