<main>

  <!-- introduction -->
  <div class="intro">
    <div class="jumbotron">
      <h1 class="display-5">Bienvenue sur mon CV !</h1>
      <p class="lead">Après l'obtention de mon Master en Marketing & Communication, j'ai décidé, en 2020, de me diriger vers le métier de Développeuse Web.
        Mes compétences de communicante m'accompagnent au quotidien dans mon métier de développeuse : sensibilité graphique, SEO, rédaction, etc.
      </p>
      <hr class="my-4">
      <p>Ma stack d'expertise se construit autour d'Angular et Java.</p>
      <a class="btn btn-third btn-lg" role="button" title="Go to the 'About' section" routerLink="/about" routerLinkActive="active">Learn more about me</a>
    </div>
  </div>

  <!-- img developer -->

  <div>
    <img class="img-dev" src="../../assets/images/developer-img.png">
  </div>
  <div class="copyright-icon">
    <a class="link-icon" title="Go to Vecteezy website" href="https://www.vecteezy.com/free-vector/icons">Icons Vectors by Vecteezy</a>
  </div>

  <!-- news bloc -->

  <div class="news-bloc">
    <div class="card-group">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Informations rapides</div>
        <div class="card-body">
          <p class="card-text">En formation (2020-2023)</p>
          <p class="card-text">"Architecture & Big Data"</p>
          <p class="card-text">Paris, France</p>
          <a class="link" title="Education" routerLink="/education" routerLinkActive="active">⁘ Education ⁘</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">News</div>
        <div class="card-body">
          <p class="card-text">Développeuse Full Stack
            <span class="badge badge-secondary">New!</span> <!-- badge New! -->
          </p>
          <p>(alternance) chez AfterData</p>
          <p>Angular / Java</p>
          <a class="link" title="Experience" routerLink="/experience" routerLinkActive="active">⁘ Experience ⁘</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Compétences</div>
        <div class="card-body">
          <p class="card-text">Angular</p>
          <p>Java</p>
          <p>Git</p>
          <a class="link" title="Skills" routerLink="/skills" routerLinkActive="active">⁘ Skills ⁘</a>
        </div>
      </div>
    </div>
  </div>

</main>
